.step .notes {
    display: none;
}

#title {
    text-align: center;
}

#title h1 {
    font-family: 'Lobster', cursive;
}

#mydetails {
    text-align: center;
}

#mydetails p {
    font-size: 20px;
    margin-bottom: -25px;
}

#mydetails a {
    font-size: 20px;
}

#git {
    width: 600px;
    text-align: center;
    font-size: 250px;
}

#git p {
    font-size: 30px;
    margin-top: -30px;
    opacity: 0.5;
}

.git-props {
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
}

pre, code {
    font-family: monospace;
}

#git-prop3 {
    margin-top: 23px;
}

.small {
    margin-top: -11px;
    font-size: 12px;
    line-height: 1.0;
}

#jituha {
    width: 627px;
    text-align: center;
 }

#jituha h1 {
    font-size: 250px;
}

#jituha .subitems {
    font-size: 27px;
    margin-top: -50px;
 }

#jituha .subitems {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#jituha.future {
    opacity: 0;
 }

#jituha.present .subitems {
    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;

    -webkit-transition-delay: 0.7s;
    -moz-transition-delay:    0.7s;
    -ms-transition-delay:     0.7s;
    -o-transition-delay:      0.7s;
    transition-delay:         0.7s;
}

#jituha.past {
    opacity: 0;
    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;
}

#filesystems {
    width: 1050px;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#filesystems.future {
    opacity: 0;
}

#filesystems.present {
    opacity: 1;
    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;
}

#filesystems h1 {
    font-family: 'Lobster', cursive;
}

#filesystems td {
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
}

.pptitle {
    width: 627px;
    text-align: center;
 }

.pptitle h1 {
    font-size: 220px;
    opacity: 0.3;
}

.pptitle h2 {
    font-size: 150px;
    margin-top: -275px;
    font-family: 'Lobster', cursive;
}

/* Diagram styles */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
}
